<div class="center-container">
  <mat-card class="div-card">
    <mat-card-header style="display: flex; justify-content: center; width: 100%;">
      <mat-card-title class="card-title">gCode to PNG</mat-card-title>
    </mat-card-header>
    <mat-card-content class="card-content">
      <p>Please upload your gCode file.</p>
      <mat-list class="mat-list-app">
        <mat-list-item><span class="list-item-num">1</span>We recommend uploading a file with only one pass.
        </mat-list-item>
        <mat-list-item><span class="list-item-num">2</span>KISS. Keep it simple stupid.</mat-list-item>
        <mat-list-item><span class="list-item-num">3</span>Use the options below to calibrate to your linking.
        </mat-list-item>
      </mat-list>
      <input type="file" class="file-input" [accept]="requiredFileType" (change)="onFileSelected($event)" #fileUpload>
      <div class="file-upload">

        {{svgOption.fileName || "No file uploaded yet."}}

        <button mat-mini-fab class="upload-btn" (click)="fileUpload.click()">
          <mat-icon>attach_file</mat-icon>
        </button>
      </div>
      <p class="opt-header">Stroke (Tool Path)</p>
      <div class="options-cont">
          <mat-checkbox class="checkbox" [(ngModel)]="svgOption.stroke" (change)="strokeChecked($event.checked)">Show</mat-checkbox>
          <mat-form-field appearance="outline" class="tool-input">
            <mat-label>Tool Diameter (inches)</mat-label>
            <input name="toolDiam" type="number" step="0.0005" (change)="updateTool()" [(ngModel)]="toolDiam" matInput placeholder="Tool Diameter (inches)">
          </mat-form-field>
          <mat-form-field appearance="outline" class="tool-input">
            <mat-label>Color HEX</mat-label>
            <input name="strokeColor" type="text" (change)="strokeColorUpdate()" [(ngModel)]="svgOption.strokeColor" matInput placeholder="Color HEX">
          </mat-form-field>
      </div>
      <p class="opt-header">Fill (Product)</p>
      <div class="options-cont">
        <mat-checkbox class="checkbox" [(ngModel)]="svgOption.fill" (change)="fillChecked($event.checked)">Show</mat-checkbox>
        <mat-form-field appearance="outline" class="tool-input">
          <mat-label>Color HEX</mat-label>
          <input name="fillColor" type="text" (change)="fillColorUpdate()" [(ngModel)]="svgOption.fillColor" matInput placeholder="Color HEX">
        </mat-form-field>
      </div>
      <p class="opt-header">Orientation & Cleanup</p>
      <div class="options-cont">
        <mat-checkbox class="checkbox" [(ngModel)]="invertY" (change)="invertYChecked($event.checked)">Invert Y</mat-checkbox>
        <mat-checkbox class="checkbox" [(ngModel)]="invertX" (change)="invertXChecked($event.checked)">Invert X</mat-checkbox>
        <mat-checkbox class="checkbox" [(ngModel)]="duplicates" (change)="duplicateChecked($event.checked)">Remove Duplicates</mat-checkbox>
      </div>
      <div [hidden]="!loading">
        <mat-spinner></mat-spinner>
      </div>
      <div *ngIf="svgReady" [hidden]="loading" class="svg-container">
        <app-svg [option]="svgOption" [resetFunc]="reset"></app-svg>
      </div>

      <div [hidden]="!svgReady">
        <h2>Commands <span *ngIf="svgScaleDisplay">(Scale: {{svgScaleDisplay}})</span></h2>
        <div class="mat-elevation-z8">
          <table mat-table [dataSource]="commandList">
            <ng-container matColumnDef="line">
              <th mat-header-cell *matHeaderCellDef> Line </th>
              <td mat-cell *matCellDef="let element"> {{element.line}} </td>
            </ng-container>

            <ng-container matColumnDef="command">
              <th mat-header-cell *matHeaderCellDef> Command </th>
              <td mat-cell *matCellDef="let element"> {{element.com}} </td>
            </ng-container>

            <ng-container matColumnDef="x">
              <th mat-header-cell *matHeaderCellDef> X </th>
              <td mat-cell *matCellDef="let element"> {{element.x}} </td>
            </ng-container>

            <ng-container matColumnDef="y">
              <th mat-header-cell *matHeaderCellDef> Y </th>
              <td mat-cell *matCellDef="let element"> {{element.y}} </td>
            </ng-container>

            <ng-container matColumnDef="i">
              <th mat-header-cell *matHeaderCellDef> I </th>
              <td mat-cell *matCellDef="let element"> {{element.i}} </td>
            </ng-container>

            <ng-container matColumnDef="j">
              <th mat-header-cell *matHeaderCellDef> J </th>
              <td mat-cell *matCellDef="let element"> {{element.j}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
          <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of commands">
          </mat-paginator>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
<div class="footer">
  <p>&copy; Gabriel Jason 2021</p>
</div>