div {
    padding: 0;
    margin: 0;
}

.file-input {
    display: none;
}

svg {
    width: 500px;
}

:host {
    height: 100vh;
    display: block;
}

.center-container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 30px;
    box-sizing: border-box;
}

.div-card {
    width: 600px;
    height: min-content;
    margin: 40px 0;
    text-align: center;
}

.card-buttons {
    display: flex;
    justify-content: space-between;
    padding: 0;
    width: 100%;
    margin: 0 !important;
}

.card-buttons button {
    width: 45%;
    text-align: center;
    margin: 0 !important;
    padding: 0;
}

.input-field {
    width: 100%;
}

.card-content {
    margin: 0;
}

form {
    padding: 0;
    margin: 0;
}

.upload-btn {
    margin-left: 10px;
}

.card-title {
    font-size: 3em;
    line-height: normal;
    margin: 20px auto 20px auto !important;
}

.card-content p {
    font-size: 1.6em;
    margin: 10px;
}

.list-item-num {
    border-radius: 50%;
    width: 1.2em;
    height: 1.2em;
    box-shadow: 0 1.5px 4px 0 rgba(0, 0, 0, 0.2), 0 2px 6px 0 rgba(0, 0, 0, 0.19);
    margin-right: 10px;
}

.mat-list-app {
    width: 80%;
    margin: 0 auto;
    padding-bottom: 20px;
}

.command-box {
    width: 550px;
    height: 300px;
    margin: 20px auto;
    overflow: scroll;
    text-align: left;
    background-color: #444444;
    padding: 10px;
}

.command-box p {
    display: inline-block;
    margin: 0;
    font-size: 1em;
    padding-right: 10px;
    color: #999999
}

.svg-container {
    margin: 20px auto;
}

table {
    width: 100%;
    text-align: left;
  }

  .checkbox {
      margin: 10px 12px;
  }

.tool-input {
    display: inline-block;
    width: 25%;
}

.options-cont {
    display: flex;
    justify-content: space-between;
    margin: 15px 0 0 0;
}

.footer {
    width: 100%;
    text-align: center;
    color: white;
    box-sizing: border-box;
    margin-top: -53px;
}

.footer p {
    margin: 20px 0;
    padding: 0;
    font-size: 13px;
    line-height: 13px;
}

.opt-header {
    font-size: 1.5em !important;
    text-align: left;
    width: 100%;
    border-bottom: 1px solid black;
    padding: 10px;
    box-sizing: border-box;
    margin: 0 !important;
}